@import "tailwindcss";


@theme {
  --font-kumbh: "Kumbh Sans", sans-serif;

  --color-primary-1: #009382;
  --color-primary-2: #1C8D73;
  --color-primary-3: #0E0E0D;
  --color-secondary:#006D68;
  --color-bg:#00A098;
  --color-bg-2:#21ACB3;
  --color-white: #ffffff;
  --color-orange-1:#F88705;
  --color-text-1: #0D0D0E;
  --color-text-2: #585858;
  --breakpoint-xs: 480px;
}
html {
  font-family: var(--font-kumbh);
}
html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
 
 
  
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}